.home {
  background: linear-gradient(180deg, #3333a3 5.09%, #121212 33.4%);

  width: 100%;
  padding: 20px;
}

.header-icon {
  display: flex;
  align-items: center;
  gap: 22px;
}
.hero h1 {
  padding-top: 30px;
  font-family: 'Circular Std';
  font-size: 39px;
  font-weight: 700;
  line-height: 49.33px;
  color: #ffffff;
}
.main {
  margin-top: 29px;
  margin-bottom: 50px;
}
.main__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chillMax {
  display: flex;
  align-items: center;
  gap: 21px;
  width: 480px;
  background-color: #9ca3af33;
  border-radius: 6px;
}
.chillMax h2 {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 700;
  line-height: 25.3px;
  color: #ffffff;
}
.daily {
  display: flex;
  align-items: center;
  gap: 21px;
  width: 480px;
  border-radius: 6px;
  background-color: #9ca3af33;
}
.daily h2 {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 700;
  line-height: 25.3px;
  color: #ffffff;
}
.folk {
  width: 480px;
  display: flex;
  align-items: center;
  gap: 21px;
  border-radius: 6px;
  background-color: #9ca3af33;
}
.folk h2 {
  font-family: 'Circular Std';
  font-size: 20px;
  font-weight: 700;
  line-height: 25.3px;
  color: #ffffff;
}
.section {
  padding-top: 50px;
  padding-bottom: 26px;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-head h2 {
  font-family: 'Circular Std';
  font-size: 30px;
  font-weight: 700;
  line-height: 37.95px;
  color: #ffffff;
}
.section-head h6 {
  font-family: 'Circular Std';
  font-size: 16px;
  font-weight: 700;
  line-height: 20.24px;
  color: #adadad;
}
