.like {
  padding-top: 20px;
  background: linear-gradient(180deg, #604ec1 5.09%, #121212 43.28%);
}
.like-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.like-icons {
  display: flex;
  align-items: center;
  gap: 22px;
}
.like-left button {
  display: flex;
  align-items: center;
  gap: 11px;
  border: none;
  border-radius: 40px;
  padding: 3px 12px 3px 3px;
  background-color: #000000cc;
  font-family: 'Circular Std';
  font-size: 18px;
  font-weight: 700;
  line-height: 22.77px;
  color: #ffffff;
  cursor: pointer;
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.titles h2 {
  font-family: 'Circular Std';
  font-size: 16px;
  font-weight: 500;
  line-height: 20.24px;
  color: #ffffff;
}
.like-hero {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 28px;
  padding-bottom: 31px;
}

.like-hero-right h3 {
  font-family: 'Circular Std';
  font-size: 80px;
  font-weight: 900;
  line-height: 154.33px;
  color: #ffffff;
}
.titles-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.titles-btn h2 {
  font-family: 'Circular Std';
  font-size: 18px;
  font-weight: 700;
  line-height: 22.77px;
  color: #ffffff;
}

.titles-btn h6 {
  font-family: 'Circular Std';
  font-size: 18px;
  font-weight: 450;
  line-height: 22.77px;
  color: #ffffff;
}
