:root {
  --main-color: #ffffff;
  --font-family: 'Circular Std';
}

.leftSide {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-one,
.left-search,
.left-library,
.left-playlist,
.likeSong {
  display: flex;
  align-items: center;
  gap: 23px;
}

.left-one a,
.left-search h2,
.left-library h2,
.left-playlist h2,
.likeSong a {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.77px;
  color: var(--main-color);
}

.left-library .item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-library img,
.left-playlist img,
.likeSong img {
  width: 40px;
  height: auto;
}

.hr {
  width: 250px;
  border: 1px solid #282828;
  margin: 0 auto; /* O'rtaga joylashtiradi */
}


.left-bar-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.left-bar li {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 450;
  line-height: 22.77px;
  color: var(--main-color);
}
